fastapi
python-dotenv
nltk
pandas
numpy
PyPDF2
python-docx
docx2txt
langchain
langchain-community
langchain-google-genai
faiss-cpu
google-generativeai
groq
streamlit
SpeechRecognition
gTTS
pygame
PyAudio
sounddevice
soundfile
Pillow
starlette
uvicorn
python-multipart
pydantic
