streamlit
fastapi
PyPDF2
pandas
numpy
python-dotenv
langchain
langchain-google-genai
faiss-cpu
google-generativeai
SpeechRecognition
gTTS
pygame
docx2txt
nltk
pyaudio
groq
sounddevice
soundfile
wave
Pillow
